In [1]:
import pandas as pd
import numpy as np

movie = pd.read_csv("./movies_train.csv")

In [2]:
import pandas as pd
import numpy as np

movie = pd.read_csv("./movies_train.csv")
movie.shape

(600, 12)

In [3]:
import pandas as pd
import numpy as np

movie = pd.read_csv("./movies_train.csv")
movie.head()

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num
0,개들의 전쟁,롯데엔터테인먼트,액션,2012-11-22,96,청소년 관람불가,조병옥,NaN,0,91,2,23398
1,내부자들,(주)쇼박스,느와르,2015-11-19,130,청소년 관람불가,우민호,1161602.50,2,387,3,7072501
2,은밀하게 위대하게,(주)쇼박스,액션,2013-06-05,123,15세 관람가,장철수,220775.25,4,343,4,6959083
3,나는 공무원이다,(주)NEW,코미디,2012-07-12,101,전체 관람가,구자홍,23894.00,2,20,6,217866
4,불량남녀,쇼박스(주)미디어플렉스,코미디,2010-11-04,108,15세 관람가,신근호,1.00,1,251,2,483387

In [12]:
import pandas as pd
import numpy as np

movie = pd.read_csv("./movies_train.csv")
new_movie = movie.loc[:,['title','box_off_num']]

title          0
box_off_num    0
dtype: int64

In [19]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.tree import DecisionTreeRegressor

movie = pd.read_csv("./movies_train.csv")
test = pd.read_csv("./movies_test.csv")
movie = movie.loc[:,['title','dir_prev_bfnum','box_off_num']]
movie.dropna()
movie.isnull().sum()

test = test.loc[:,['title','dir_prev_bfnum',]]

In [37]:
import pandas as pd
import lightgbm as lgb

movie = pd.read_csv("./movies_train.csv")
test = pd.read_csv("./movies_test.csv")
submission = pd.read_csv("./submission.csv")
movie.fillna(0)
movie = movie.loc[:,['title','genre','time','screening_rat','dir_prev_bfnum','num_staff','num_actor','box_off_num']]
movie.isnull()
movie.fillna(0)

,title,genre,time,screening_rat,dir_prev_bfnum,num_staff,num_actor,box_off_num
0,개들의 전쟁,액션,96,청소년 관람불가,0.00,91,2,23398
1,내부자들,느와르,130,청소년 관람불가,1161602.50,387,3,7072501
2,은밀하게 위대하게,액션,123,15세 관람가,220775.25,343,4,6959083
3,나는 공무원이다,코미디,101,전체 관람가,23894.00,20,6,217866
4,불량남녀,코미디,108,15세 관람가,1.00,251,2,483387
...,...,...,...,...,...,...,...,...
595,해무,드라마,111,청소년 관람불가,3833.00,510,7,1475091
596,파파로티,드라마,127,15세 관람가,496061.00,286,6,1716438
597,살인의 강,공포,99,청소년 관람불가,0.00,123,4,2475
598,악의 연대기,느와르,102,15세 관람가,0.00,431,4,2192525
599,베를린,액션,120,15세 관람가,0.00,363,5,7166532

In [38]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.tree import DecisionTreeRegressor

movie = pd.read_csv("./movies_train.csv")
test = pd.read_csv("./movies_test.csv")
submission = pd.read_csv("./submission.csv")
movie['dir_prev_bfnum'].fillna(0,inplace=True)
movie

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num
0,개들의 전쟁,롯데엔터테인먼트,액션,2012-11-22,96,청소년 관람불가,조병옥,0.00,0,91,2,23398
1,내부자들,(주)쇼박스,느와르,2015-11-19,130,청소년 관람불가,우민호,1161602.50,2,387,3,7072501
2,은밀하게 위대하게,(주)쇼박스,액션,2013-06-05,123,15세 관람가,장철수,220775.25,4,343,4,6959083
3,나는 공무원이다,(주)NEW,코미디,2012-07-12,101,전체 관람가,구자홍,23894.00,2,20,6,217866
4,불량남녀,쇼박스(주)미디어플렉스,코미디,2010-11-04,108,15세 관람가,신근호,1.00,1,251,2,483387
...,...,...,...,...,...,...,...,...,...,...,...,...
595,해무,(주)NEW,드라마,2014-08-13,111,청소년 관람불가,심성보,3833.00,1,510,7,1475091
596,파파로티,(주)쇼박스,드라마,2013-03-14,127,15세 관람가,윤종찬,496061.00,1,286,6,1716438
597,살인의 강,(주)마운틴픽쳐스,공포,2010-09-30,99,청소년 관람불가,김대현,0.00,0,123,4,2475
598,악의 연대기,CJ 엔터테인먼트,느와르,2015-05-14,102,15세 관람가,백운학,0.00,0,431,4,2192525
599,베를린,CJ 엔터테인먼트,액션,2013-01-30,120,15세 관람가,류승완,0.00,0,363,5,7166532

In [41]:
import pandas as pd
import lightgbm as lgb

movie = pd.read_csv("./movies_train.csv")
test = pd.read_csv("./movies_test.csv")
submission = pd.read_csv("./submission.csv")
movie['dir_prev_bfnum'].fillna(0,inplace=True)
test['dir_prev_bfnum'].fillna(0,inplace=True)

model = lgb.LGBMRegressor(random_state=777,n_estimators=1000)
features = ['time', 'dir_prev_bfnum', 'num_staff', 'num_actor']
target = ['box_off_num']

X_train = train[features]
X_test = test[features]
Y_train = train[target]

model.fit(X_train, Y_train)

singleLGBM=submission.copy()

ModuleNotFoundError: No module named 'lightgbm'