In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression

In [2]:
train = pd.read_csv("movies_train.csv")

In [4]:
train.drop({'release_time','director'},axis=1,inplace=True)

In [7]:
train

,title,distributor,genre,time,screening_rat,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num
0,개들의 전쟁,롯데엔터테인먼트,액션,96,청소년 관람불가,NaN,0,91,2,23398
1,내부자들,(주)쇼박스,느와르,130,청소년 관람불가,1161602.50,2,387,3,7072501
2,은밀하게 위대하게,(주)쇼박스,액션,123,15세 관람가,220775.25,4,343,4,6959083
3,나는 공무원이다,(주)NEW,코미디,101,전체 관람가,23894.00,2,20,6,217866
4,불량남녀,쇼박스(주)미디어플렉스,코미디,108,15세 관람가,1.00,1,251,2,483387
...,...,...,...,...,...,...,...,...,...,...
595,해무,(주)NEW,드라마,111,청소년 관람불가,3833.00,1,510,7,1475091
596,파파로티,(주)쇼박스,드라마,127,15세 관람가,496061.00,1,286,6,1716438
597,살인의 강,(주)마운틴픽쳐스,공포,99,청소년 관람불가,NaN,0,123,4,2475
598,악의 연대기,CJ 엔터테인먼트,느와르,102,15세 관람가,NaN,0,431,4,2192525
599,베를린,CJ 엔터테인먼트,액션,120,15세 관람가,NaN,0,363,5,7166532